<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMealMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies) values
        <foreach collection="dishMeal" item = "d" separator=",">
            (#{d.setmealId},#{d.dishId},#{d.name},#{d.price},#{d.copies})
        </foreach>
    </insert>
</mapper>
